html,
body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul,
li {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    margin: .3em 0;
}

/* Class Component CSS */

.App {
    height: 100vh;
    width: 100vw;
}

/* Map Container CSS */

#map {
    height: 100vh;
    width: 100vw;
}

/* UserWindow Component CSS */

.search-box {
    display: flex;
    flex-direction: column;
    width: 26.5vmin;
    height: 40vmin;
    position: fixed;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    border-radius: 4px;
    top: 100px;
    left: 0;
    z-index: 999;
    opacity: .8;
    transition: opacity .6s;
}

.search-box:hover {
    opacity: .98;
}

.search-box input {
    position: relative;
    margin: 5% 8%;
    text-align: center;
}

.search-box p {
    font-size: 10px;
    text-align: center;
}

/* Info-Window (Marker's content) CSS */

.info-window {
    text-align: center;
    font-size: .9em;
    margin-top: 3px;
    margin-bottom: 3px;
}

.info-window h2,
h3 {
    font-size: .9em;
}

/* Results-List CSS */

.Results-Window {
    overflow: auto;
}

.Results-List {
    font-size: .95em;
    font-weight: bold;
    list-style-type: none;
    text-align: center;
    background-color: rgba(234, 66, 54);
    padding: 5px;
    border-radius: 4px;
}